<h1>Listing projecttypes</h1>

<table>
  <thead>
    <tr>
      <th>Project type</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projecttypes.each do |projecttype| %>
      <tr>
        <td><%= projecttype.project_type %></td>
        <td><%= projecttype.project %></td>
        <td><%= link_to 'Show', projecttype %></td>
        <td><%= link_to 'Edit', edit_projecttype_path(projecttype) %></td>
        <td><%= link_to 'Destroy', projecttype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Projecttype', new_projecttype_path %>
