<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :project_name %>
    <%= f.input :description %>
    <%= f.input :client_id %>
    <%= f.input :started %>
    <%= f.input :completed %>
    <%= f.input :type_id %>
    <%= f.input :estimated_time %>
    <%= f.input :actual_time %>
    <%= f.input :billing_rate %>
    <%= f.association :client %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
