<p id="notice"><%= notice %></p>

<p>
  <strong>Activity description:</strong>
  <%= @activity.activity_description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @activity.date %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @activity.hours %>
</p>

<p>
  <strong>Note:</strong>
  <%= @activity.note %>
</p>

<p>
  <strong>User:</strong>
  <%= @activity.user %>
</p>

<p>
  <strong>Client:</strong>
  <%= @activity.client %>
</p>

<p>
  <strong>Project:</strong>
  <%= @activity.project %>
</p>

<p>
  <strong>Billable:</strong>
  <%= @activity.billable %>
</p>

<p>
  <strong>Posted:</strong>
  <%= @activity.posted %>
</p>

<p>
  <strong>Posted date:</strong>
  <%= @activity.posted_date %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
